# Dependencies (The heavy folders)
node_modules/
jspm_packages/
web_modules/

# Environment Variables (Your database passwords)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs (The compiled code files)
dist/
build/
out/

# Debug and System logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Operating System files (Mac and Windows background icons)
.DS_Store
Thumbs.db